div,p,ul,li,dl,dt,dd,form,table,tr,td,h1,h2,h3,h4,h5,h6,fieldset,body,input{
	margin:0;
	padding:0;
}
html{
	height:100%;
	border: none;
}
body{
	font-family: "微软雅黑",Arial;
	background-color: #f7f8f8;
}
body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	// font: 16px Microsoft YaHei, arial, sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
// header
.header{
	width: 100%;
	height: 70px;
	background:#e0e0e0;
	.header_01{
		width: 1114px;
		height: 70px;
		margin:0 auto;
		img{
			float: left;
		}
		h4{
			font-weight: normal;
			float: left;
			font-size: 28px;
			color: #008842;
			margin:19px 0 0 93px;
		}
	}
}
// center
.center{
	width: 1202px;
	height: 63px;
	margin:0 auto;
	font-size: 12px;
	p{
		color: #444444;
		float: right;
		margin:39px 36px 0 0;
		a{
		color: #ef760a;
		float: right;
		}
	}

}
// center_middle
.center_middle{
	width: 1202px;
	height: 623px;
	margin:0 auto;
	background: white;
	border:1px solid #c4dfb1;
	padding-top: 11px;
	form{ 
		width: 698px;
		height: 616px;
		float: left;
		span{
			font-size: 12px;
			margin: 0 25px 0 150px;
		}
		input{
			margin-top: 28px;
			text-indent: 12px;
		}
		.number{
			height: 68px;
				.yanzheng{
					width: 114px;
					height: 38px;
					border: 1px solid #c1c1c1;
				}
				#imgsj{
					width: 98px;
					height:40px;
					display: block;
					position: relative;
					top: -40px;
    				left: 219px;
				}
				.img_pos {
	    			position: absolute;
	    			top: 0px;
	    			left: 0px;
	    		}
		}
		.phone{
			span{
				margin-left: 174px;
			}
				.shouji{
					width: 304px;
					height: 38px;
					border: 1px solid #c1c1c1;
					background: url(https://login.yiguo.com/Content/img/bg_input.png) no-repeat 276px -30px;
				}
				#phoneMsg{
					margin-left:1px;
				}
			
		}
		.code{
			.shouyan{
				width: 161px;
				height: 38px;
			}
			a{
				width: 119px;
				height: 38px;
				background: #f7f7f7;
				border:1px solid #c1c1c1;
				font-size: 12px;
				display: inline-block;
				vertical-align: middle;
				color: #008842;
				text-align: center;
				line-height: 36px;
				text-decoration: none;
			}
		}
		.password01{
			span{
				margin-left: 161px;
			}
			.mima{
				width: 304px;
				height: 38px;
				border: 1px solid #c1c1c1;
				background: url(https://login.yiguo.com/Content/img/bg_input.png) no-repeat 276px -69px;
			}
			#password{
				margin-left: 1px;
			}
			#password_s{
				margin-left: 1px;
			}
		}
		.yaoqing{
			span{
				margin-left: 171px;
			}
		}
		.btn{
			font-size: 12px;
			span{
				margin-left: 210px;
			}
			input{

			}
			a{
				color: #008842;
				text-decoration: none;
			}
		}
		.submit{
			span{
				margin-left: 210px;
			}
			input{
				width: 306px;
				height: 50px;
				background: #008842;
				border:0;
				color: white;
				font-size: 16px;
			}
		}
	}
	.cailan{
		margin: 111px 0 0 44px;
	}
}

// footer
.footer{
	width:1202px;
	min-height: 300px;
	margin:0 auto;
	background-color: #f7f9f8;
	.footer_001{
		width: 1202px;
		height: 103px;
		background: #e0e0e0;
			.footer_01{
			width: 295px;
			height: 80px;
			float: left;
			img{
				margin:30px 0 0 56px;
				float: left;
			}
			.footer_min{
				width: 130px;
				height: 41px;
				float: left;
				margin: 30px 0 0 13px;
				border-left: 1px solid #a6a6a6;

				p:nth-child(1){
					font-size: 16px;
					color: #037d4c;
					margin-left: 15px;
				}
				p:nth-child(2){
					font-size: 12px;
					color: #444444;
					margin-left: 15px;
				}
			}
		
		}
	}
	
}
.footer_02{
	width: 1202px;
	margin:0 auto;
	height: 89px;
	.footer_zhinan{
		width: 218px;
		height: 89px;
		float: left;
		
		img{
			margin-left: 81px;
			margin-top: 55px;
			float: left;
		}
		p{
			font-size: 14px;
			color: #434544;
			margin-left: 13px;
			margin-top: 55px;
			float: left;
		}
	}
}
.footser_left{
	width:1155px;
	min-height: 112px;
	margin-left: 89px;
		.footer_03{
			width: 220px;
			height: 112px;
			border-left: 1px dashed #a8a8a8;
			float: left;
		
		p{
			font-size: 12px;
			color: #565656;
			line-height: 15px;
			margin-left: 20px;
		}
	}
}
.footer_04{
	width: 1202px;
	margin:0 auto;
	font-size: 12px;
	padding-top: 40px;
	h3{
		font-weight: normal;
		color: #157c47;
		text-align: center;
		margin-bottom: 30px;

	}
	p{
		text-align: center;
		color: #707271;
		padding-bottom: 9px;
	}
	a{
		color: #707271;
	}
	p img{
		height: 47px;
		margin:0 12px;
	}
	.gongan{
		height: 20px;
	}
}